In [1]:
from src.agents.data_agent.agent import *

Status:  Initialising nodes
Status:  Initialising ChatOpenAI
Status:  ChatOpenAI initialised

In [2]:
query = """{
  "name": "Number of Blocks Placed per Day",
  "description": "This metric tracks the total number of blocks placed in a given day within a specific time frame. The calculation can be done using an SQL query that sums the number of blocks added on a daily basis. Parameters include the timestamps indicating when blocks were placed. The formula for calculation can be expressed as: Total Blocks = SUM(blocks) WHERE date(date_column) = target_date.",
  "chartType": "line",
  "chartOptions": {
    "title": "Daily Block Placement",
    "xAxis": "Date",
    "yAxis": "Number of Blocks Placed"
  },
  "how_to_calculate": "To calculate the number of blocks placed per day, use an SQL query that aggregates the total blocks from a table with block placement records. The query would initially filter records based on a date range and then count the total number of blocks grouped by each day."
}"""

In [3]:
#data, query_code = get_data_from_db("Fetch the Daily Active Users (DAU) data, which measures the number of unique players that joined during a specific day. Provide the count of distinct users each day in a suitable format.")
data, query_code = get_data_from_db(query)

Status:  Instructions generated
Status:  Query generated
Status:  Query executed
Data:  [(datetime.date(2025, 1, 14), 4500), (datetime.date(2025, 1, 15), 7640), (datetime.date(2025, 1, 16), 726)]
Status:  QA test completed
QA Status:  True
Remarks:  None
Status:  QA passed

In [4]:
#data = fetch_metric_data('1')

In [5]:
data

[(datetime.date(2025, 1, 14), 4500),
 (datetime.date(2025, 1, 15), 7640),
 (datetime.date(2025, 1, 16), 726)]

In [6]:
from src.agents.data_agent.agent import *

In [7]:
metric_df = fetch_metric_data('1')

In [8]:
metric_df

         Day                   Minutes
0 2025-01-08  221.03020134228188143065
1 2025-01-09   16.73263358778625954033
2 2025-01-10   11.70020374898125509438
3 2025-01-11   11.11741370427614631643
4 2025-01-12   15.61443298969072164953
5 2025-01-13   42.63247011952191234940
6 2025-01-14   13.26605805243445692987
7 2025-01-15   10.72024265644955300153
8 2025-01-16    8.80791245791245790909