In [1]:
from src.agents.data_agent.agent import *

Status:  Initialising nodes
Status:  Initialising ChatOpenAI
Status:  ChatOpenAI initialised

In [2]:
query = """{'name': 'PvP Participation Rate',
  'description': 'The ratio of PvP events to total events in a session, which indicates how dedicated a player is to PvP activities. To calculate: Divide the count of PvP events by the total events in a session, provided as a percentage.',
  'chartType': 'bar',
  'chartOptions': {'title': 'PvP Participation Rate per Session',
   'xAxis': 'Day',
   'yAxis': 'PvP Participation Rate (%)'},
  'how_to_calculate': "For each session, get count of PvP-related events and divide by total events in the session. \\n\\nWITH event_counts AS (\\n    SELECT session_id,\\n           SUM(CASE WHEN event IN ('player-kill', 'player-damage', 'player-death') THEN 1 ELSE 0 END) AS pvp_event_count,\\n           COUNT(*) AS total_event_count\\n    FROM game_data\\n    GROUP BY session_id\\n)\\n\\nSELECT DATE(TO_TIMESTAMP(min_time)::date) AS day,\\n       AVG(pvp_event_count::decimal / total_event_count) * 100 AS pvp_participation_rate\\nFROM event_counts\\nGROUP BY day\\nORDER BY day;"},
"""

In [3]:
data, query_code = get_data_from_db("Fetch the Daily Active Users (DAU) data, which measures the number of unique players that joined during a specific day. Provide the count of distinct users each day in a suitable format.")

Status:  Instructions generated
Status:  Query generated
Status:  Error while executing query
Error:  invalid input syntax for type date: "UTC"
LINE 1: SELECT to_timestamp(time) AT TIME ZONE 'UTC'::date AS date,
                                               ^

Status:  Retrying
Status:  Instructions generated
Status:  Query generated
Status:  Query executed
Data:  [(datetime.date(2025, 1, 8), 70), (datetime.date(2025, 1, 9), 93), (datetime.date(2025, 1, 10), 116), (datetime.date(2025, 1, 11), 190), (datetime.date(2025, 1, 12), 163), (datetime.date(2025, 1, 13), 92), (datetime.date(2025, 1, 14), 106), (datetime.date(2025, 1, 15), 91), (datetime.date(2025, 1, 16), 47)]
Status:  QA test completed
QA Status:  True
Remarks:  None
Status:  QA passed

In [4]:
#data = fetch_metric_data('1')

In [5]:
data

[(datetime.date(2025, 1, 8), 70),
 (datetime.date(2025, 1, 9), 93),
 (datetime.date(2025, 1, 10), 116),
 (datetime.date(2025, 1, 11), 190),
 (datetime.date(2025, 1, 12), 163),
 (datetime.date(2025, 1, 13), 92),
 (datetime.date(2025, 1, 14), 106),
 (datetime.date(2025, 1, 15), 91),
 (datetime.date(2025, 1, 16), 47)]

In [6]:
from src.agents.data_agent.agent import *

In [7]:
metric_df = fetch_metric_data('1')

In [8]:
metric_df

         Day                   Minutes
0 2025-01-08  221.03020134228188143065
1 2025-01-09   16.73263358778625954033
2 2025-01-10   11.70020374898125509438
3 2025-01-11   11.11741370427614631643
4 2025-01-12   15.61443298969072164953
5 2025-01-13   42.63247011952191234940
6 2025-01-14   13.26605805243445692987
7 2025-01-15   10.72024265644955300153
8 2025-01-16    8.80791245791245790909